<table class="table m-3">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Img</th>    
    </tr>
    {{#each lista}}
        <tr>    
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src={{this.thumbnail}} alt="" srcset=""></td>
        </tr>
    {{/each}}
</table>
<a href="/" class="btn btn-primary m-3">Formulario</a>