include layout/layout.pug
table(class="table m-3")
    tr
        th Id 
        th Nombre
        th Precio 
        th Imagen 
    each val in lista 
        tr 
            td= val.id
            td= val.name 
            td= val.price 
            td
                img(src=val.thumbnail, alt="", srcset="")
a(href="/" class="btn btn-primary m-3") Formulario